.card {
    width: 200px;
    height: 300px;
    background: lightseagreen;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.add_container {
    margin-top: auto;
    margin-bottom: 15px;
}

.add_button {
    width: 180px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}